button {
    padding: 36px;
    width: 60px;
    height: 60px;
    text-align: center;
}

#case {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    height: 640px;
    width: 400px;
    border-style: solid;
}

#upperPart {
    border-style: solid;
    width: 310px;
    text-align: end;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 12px;
}

#screen,
#results {
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: grey;
}